[submodule "Universitetet/Exjobb/MiniZinc-linter"]
	path = Universitetet/Exjobb/MiniZinc-linter
	url = https://github.com/erikvader/MiniZinc-linter
[submodule "Universitetet/Storprojekt/vov"]
	path = Universitetet/Storprojekt/vov
	url = https://github.com/erikvader/vov
[submodule "Universitetet/IOOPM/skvadrarna"]
	path = Universitetet/IOOPM/skvadrarna
	url = git@github.com:erikvader/skvadrarna.git
