[submodule "Universitetet/Exjobb/MiniZinc-linter"]
	path = Universitetet/Exjobb/MiniZinc-linter
	url = https://github.com/erikvader/MiniZinc-linter
[submodule "Universitetet/Storprojekt/vov"]
	path = Universitetet/Storprojekt/vov
	url = https://github.com/erikvader/vov
[submodule "Universitetet/IOOPM/skvadrarna"]
	path = Universitetet/IOOPM/skvadrarna
	url = git@github.com:erikvader/skvadrarna.git
[submodule "Universitetet/PKD/befunge-interpreter"]
	path = Universitetet/PKD/befunge-interpreter
	url = git@github.com:erikvader/befunge-interpreter.git
[submodule "Universitetet/Datacomm/peas-rf-cp"]
	path = Universitetet/Datacomm/peas-rf-cp
	url = git@github.com:erikvader/peas-rf-cp.git
[submodule "Universitetet/Kandidatarbete/DocBot"]
	path = Universitetet/Kandidatarbete/DocBot
	url = git@github.com:erikvader/DocBot.git
[submodule "Universitetet/Machine Learning/tetris-neat"]
	path = Universitetet/Machine Learning/tetris-neat
	url = git@github.com:erikvader/tetris-neat.git
[submodule "Universitetet/Sneakychat/Sneakychat"]
	path = Universitetet/Sneakychat/Sneakychat
	url = git@github.com:erikvader/Sneakychat.git
[submodule "Universitetet/Exjobb/Report/MiniZinc-linter-report"]
	path = Universitetet/Exjobb/Report/MiniZinc-linter-report
	url = git@github.com:erikvader/MiniZinc-linter-report.git
